.table-heading {
    background-color: #007bff;
    color: #fff;
  }
  
  .table-primary {
    color: #007bff;
  }
  
  .thumbnail-img {
    max-width: 50px;
    max-height: 50px;
  }
  
  @media (max-width: 576px) {
    .table-responsive {
      overflow-x: auto;
    }
  }